html, body {
    margin: 0;
    height: 100%;
    font-family: 'Open Sans';
}



a:link {
    text-decoration: none;
}

.bg {
    background-image: url('images/Mountain.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg1 {
    color: white;
}

.h2 {
	font-size: 30px;
}

.p1 {
	font-size: 16px;
}

.smallb {
	font-size: 21px;
}

.h1 {
	font-size: 100px;
}

h3 {
    font-size: 40px;
}

.apple {
    background-color: yellowgreen;
    color: white;
    padding: 70px;
}

.info, .info2, .contact {
    padding: 100px;
}

.info2 {
    color: white;
    background-color: #222222;
}

.btn {
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.btn1 {
    background-color: white;
    border-color: white;
}

.bi-pin-angle-fill {
    color: yellowgreen;
}

.unleash {
	background-image: url("images/art.jpg");
	height: 250px;
	color: white;
	background-position: center;
    background-size: cover;
} 

.synergize {
	background-image: url("images/crowd.jpg");
	height: 250px;
	color: white;
	background-position: center;
    background-size: cover;
}

.procrastinate {
	background-image: url("images/pencil.jpg");
	height: 250px;
	color: white;
	background-position: center;
    background-size: cover;
}  

.unleash:hover, .synergize:hover, .procrastinate:hover {
	transform: scale(1.0);
	border: solid 10px rgba(192, 192, 192, 0.4);
}

.outro {
    padding: 65px;
}

.contact {
    background-color: yellowgreen;
    color: white;
    font-size: 25px;
}

.copy {
   padding: 45px;
}

@media only screen and (max-width: 600px) {

	.h1 {
	font-size: 50px;
  }
  	.h2 {
	font-size: 25px;
  }
   .apple, .info, .info2, .contact, .outro, .copy {
  	padding: 15px;
  }
   .apple, .outro {
   	justify-content: flex-start;
   }
   
}
